div.tallspace {
    padding-bottom: 150px;
}

p.longpara {
    text-indent: 50px;
    font-size: 18px;
    margin-bottom: 30px;
}

p.tabbed_from_second_line {
    padding-left: 1.5em;
    text-indent:-1.5em;
}

.share_button {
    padding-bottom: 20px;
}


.share_button_image {
    height: 28px;    
    width: 80px;
}

.share_button_image:hover{
    opacity:0.8;
}

